.form-container{
  margin: 0 25%;
}

.error {
  color: red;
}


input,label,select,button,textarea {
  display: block;
  margin: 1rem 0;
}

.table-container{
  margin-top: 5rem;
  height: 65vh;
  overflow-y: auto;
}

form{
  margin-top: 3%;
}
